#conteudo {
    width: 800px;
    height: 1000px;
    background-color: rgb(255, 230, 0);
    margin: 0 auto;
}

#topo{
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

#afastar{
    margin-left: 530px;
    vertical-align: middle;
}

#afastar2{
    word-spacing: 10px;
}

#cabecalho {
    width: 800px;
    height: 300px;
    background-color: rgb(6, 119, 119) ;
    display: flex;
}

#destaques {
    height: 150px;
    width: 800px;
    background-color: rgb(167, 5, 29);
    display: flex;
    overflow: hidden;
}

#feed{
    height: 1000px;
    width: 800px;
    background-color: rgb(219, 131, 15);
}

#fotodeperfil{
    width: 300px;
    height: 300px;
    background-color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px;
    box-sizing: border-box;
    uma opção pra enquadrar aí  */

}

#foto{
    border-radius: 100px;
}

#textodeperfil{
    width: 500px;
    height: 300px;
    background-color: darkseagreen;
    padding: 20px 50px;
    box-sizing: border-box; /* deixa no tamanho setado q queria com meu padding */

    a{
        text-decoration: none;
    }
}

#span-seguindo{
    font-weight: bold;
    margin-left: 50px;
}

.juntinhos {
    margin: 0px;
}

#threads{
    margin: 11px 0px 6px 0px;
}

#pill {
    background-color: lightgray;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;    
    margin: 16px 0px;
}

#pill img{
    vertical-align: middle;
}

#icone-link{
    display: block;
    height: 12px;
    width: 12px;
    background-size: 12px;
    background-image: url("link-icon.png");
    display: inline-block;
}

.destaque{
    width: 120px;
    height: 150px;
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;

    p{
       margin-top: 0;
       text-align: center;
       font-weight: 600; 
    }

}